.documents-container {
  display: grid ;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.delete-document > a {
  color: black;
}

.upload-documents {
  padding-top: 0;
  height: calc(100vh - 53px);
}

@media only screen and (min-width: $media-query-target) {
  .upload-documents {
    height: calc(95vh - 53px);
  }
}
